{{ define "main" }}
<article class="grid-x">
    {{ partial "breadcrumb.html" . }}
    <div class="small-12 cell">
        <h2>{{- .Title -}}</h2>
    </div>
    {{ if .Content }}
    <div class="small-12 cell">
        {{- .Content -}}
    </div>
    {{ end }}
    <div class="small-12 cell">
        <ul>
            {{ range .Data.Pages }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</article>
{{ end }}