{{ define "main" }}
  <div class="grid grid-cols-1">
    {{ partial "breadcrumb.html" . }}
    <div>
      <h2>{{- .Title -}}</h2>
    </div>
    {{ if .Content }}
      <article>
        {{- .Content -}}
      </article>
    {{ end }}
    <div>
      <h3>Latest Post</h3>
      <div class="ml-6">
          {{ range first 1 .Data.Pages }}
          {{ partial "blog-list-entry.html" . }}
          <p>
              {{- .Summary -}} <a href="{{ .RelPermalink }}">&nbsp;(read more...)</a>
          </p>
          {{ end }}
      </div>
    </div>
    {{ if gt (len .Data.Pages) 1 }}
    <div>
      <h3>Previous Posts</h3>
      {{ $paginator := .Paginate (after 1 .Data.Pages) 30 }}
      <div class="ml-6">
          {{ range $paginator.Pages }}
          {{ partial "blog-list-entry.html" . }}
          {{ end }}
      </div>
      {{ partial "blog-paginator.html" . }}
    </div>
    {{ end }}
  </div>
{{ end }}
