@import 'settings';

@import 'foundation';

@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-pagination;

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
    flex-shrink: 0;
}

.blog {
    &-list {
        margin-top: 1rem;
        margin-left: 1.5rem;

        &-header {
            line-height: 1;
            margin: 0;
        }

        &-sub-header {
            font-size: 0.8rem;
            margin-bottom: 1rem;

            &-date {
                font-style: italic;
                margin-bottom: 0;
            }
        }
    }

    &-post {
        &-header {
            line-height: 1.2;
            margin: 0;
        }

        &-sub-header {
            time {
                font-size: 0.8rem;
                font-style: italic;

                @include breakpoint(medium) {
                    font-size: 0.9rem;
                }
            }

            margin-bottom: 1rem;
        }
    }

    &-tags {
        font-size: 0.8rem;
        margin: 0.2rem 0;
        padding: 0;
    
        li {
            display: inline-block;
            margin: 0;
            padding: 0;
        }

        &-link {
            border-radius: 3px;
            padding: {
                top: 0.1rem;
                bottom: 0.1rem;
                left: 0.3rem;
                right: 0.3rem;
            }
            background-color: $medium-gray;
            
            &:hover {
                color: $white;
                background-color: get-color('primary');    
            }
        }
    }

    &-paginator {
        text-align: center;
    }
}

.content {
    flex: 1 0 auto;
    width: 100%;
}

.site-header {
    text-align: center;
    border-bottom: thin solid $black;
    margin: {
        bottom: 1rem;
    }

    h1 {
        line-height: 1;
        margin: {
            bottom: 0;
        }
    }

    p {
        margin: {
            bottom: 0;
        }
    }

    a {
        color: $black;

        &:hover {
            color: $black;
        }

        &:active {
            color: $black;
        }
    }
}

.sections {
    ul {
        list-style: none;
    }

    &-list {
        margin-right: 0;
    }
}

.quote {
    margin: {
        left: 2rem;
        bottom: 1rem;
    }

    p {
        margin: {
            bottom: 0;
        }
    }

    &-body {
        font-size: 1.2rem;
        font-style: italic;
    }
}

.chroma {
    font-size: 0.9rem;
    padding: 1rem;

    @include breakpoint(large) {
        margin: {
            left: 7rem;
            right: 7rem;
        }
    }
}
