{{ define "main" }}
<article class="grid-x">
    {{ partial "breadcrumb.html" . }}
    <div class="small-12 cell">
        <h2>{{- .Title -}}</h2>
    </div>
    {{ if .Content }}
    <div class="small-12 cell">
        {{- .Content -}}
    </div>
    {{ end }}
    <div class="small-12 cell">
        <h3>Latest Post</h3>
        <div class="blog-list">
            {{ range first 1 .Data.Pages }}
            {{ partial "blog-list-entry.html" . }}
            <p>
                {{- .Summary -}} <a href="{{ .RelPermalink }}">&nbsp;(read more...)</a>
            </p>
            {{ end }}
        </div>
    </div>
    <div class="small-12 cell">
        <h3>Previous Posts</h3>
        {{ $paginator := .Paginate (after 1 .Data.Pages) 30 }}
        <div class="blog-list">
            {{ range $paginator.Pages }}
            {{ partial "blog-list-entry.html" . }}
            {{ end }}
        </div>
        {{ partial "blog-paginator.html" . }}
    </div>
</article>
{{ end }}