<footer class="flex flex-col flex-grow-0 justify-self-end mt-8 pb-2">
  <p>
    &copy; {{ now.Format "2006" }} &mdash; Adam N. Morris &mdash;
    <a
      class="inline-block"
      rel="license"
      href="http://creativecommons.org/licenses/by-nd/4.0/"
      ><img
        alt="Creative Commons License"
        style="border-width: 0"
        src="https://i.creativecommons.org/l/by-nd/4.0/80x15.png"
    /></a>
  </p>
  <p>
    The views and opinions expressed on this site are that of the Author's and
    do not represent the views and opinions of his employers, past or present.
  </p>
</footer>
