{{ define "main" }}
  <main class="content flex-grow">
    <h1>Hello world!</h1>
    <h2>Hello world!</h2>
    <h3>Hello world!</h3>
    <h4>Hello world!</h4>
    <h5>Hello world!</h5>
    <h6>Hello world!</h6>
    <div class="text-gray-500">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at condimentum
      nibh. Duis posuere, ex commodo scelerisque fermentum, odio sapien
      ullamcorper arcu, non porttitor dolor tellus nec mi. Nullam pharetra non
      dui ut faucibus. Nulla facilisi. Proin nisi sem, fringilla nec lorem sit
      amet, tristique commodo odio. Quisque sollicitudin sapien vitae magna
      malesuada, sed dignissim libero facilisis. Maecenas gravida ligula ac
      ligula tempus aliquet. Vivamus nec nibh nibh. In hac habitasse platea
      dictumst. Nam id purus imperdiet, lacinia ante sit amet, gravida dui.
    </div>
  </main>
{{ end }}
