@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/qiu7jua.css");

body {
  font-family: source-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  @apply text-5xl mt-12 mb-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 800;
  font-style: normal;
}
