{{ define "main" }}
<div class="grid-x">
    <div class="small-12 cell">
        <h2>{{ .Title }}</h2>
        {{- .Content -}}
    </div>
    <div class="small-12 cell sections">
        <ul>
            {{ range sort .Site.Sections "Dir" }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Dir }}</a> &mdash; {{ .Summary }}
                {{ if .Params.showPages }}
                    {{ range .Pages }}
                    <ul>
                        <li>
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </li>
                    </ul>
                    {{ end }}
                {{ end }}
                {{ if .Params.showLatest }}
                    {{ range last 1 .Pages }}
                    <ul>
                        <li>
                            Latest Post: <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </li>
                    </ul>
                    {{ end }}
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}