{{ define "main" }}
<article class="grid-x">
    {{ partial "breadcrumb.html" . }}
    <div class="small-12 cell">
        <h2>All posts tagged <em>{{- .Title -}}</em></h2>
    </div>
    {{ if .Content }}
    <div class="small-12 cell">
        {{- .Content -}}
    </div>
    {{ end }}
    <div class="small-12 cell">
        {{ $paginator := .Paginate .Pages 30 }}
        <div class="blog-list">
            {{ range $paginator.Pages }}
            {{ partial "blog-list-entry.html" . }}
            {{ end }}
        </div>
        {{ partial "blog-paginator.html" . }}
    </div>
</article>
{{ end }}